body {
    background-image: url(img/fondo-plantilla-diseno-musica-disco-vinilo-estilo-retro-vintage-disco-vinilo_689427-472.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;

}
.margen{background-color: black;
    color: yellow;
    height: 100px;
    width: 100%;
}

h1{
    text-align:center;
    color: rgb(253, 239, 113);
    font-family: Times;
    font-size: 150px;
    margin: 0
}

footer{
    padding: 10px;
    width: 100%;
}

.derecha{
    float: right
}
